<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 1</title>
    <style media="screen">

      .border {
      border:5px solid;
      padding:15px;
    }

      .dotted {border-style: dotted;
      padding:15px;
    }

     .dashed {border-style: dashed;
     padding:15px;}



    </style>
  </head>
  <body>


    <div class="border">
      <div class="border">
        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                            And because the original materials that UbuWeb hosts never really made money in the first place -- coupled with the fact that as sound, video and textual works, they easily translate to the web environment -- we can indulge in such high-minded utopian ideals. Certainly the latest bestseller or how-to book cannot engage in such radical distribution: the financial stakes are too high. But we are in a unique position -- I'd call it a privileged position -- to be able to give our work away, ensuring that it exists. When was the last time you received a fat royalty check for an academic book? You get my point. And with the advent and subsequent growth of the web, we have our perfect distribution mechanism.

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
