* {
  box-sizing: border-box;
}

.background_beautiful {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/26/92/d7/2692d7509999ec87416f25bebea3d26e.jpg");
}

.background_verweb {
  background-image: url("http://3.bp.blogspot.com/-OvmhX21y3lQ/T9nqWeOttQI/AAAAAAAAF6w/_nDUlZ-Pfcc/s1600/Green-wallpaper-14.jpg");
}

.background_emoji {
  background-image: url("http://cdn.wallpapersafari.com/5/45/pG86wt.jpg");
}

.center {
  align-items:center;
  justify-content:center;
}

.pageheader_verweb {
  tex
}

.index {
  position: fixed;
  color: blue;
  text-align: center;
  font-family: verdana;
  font-size: 72px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 10px;
}


.index:hover {
  color: magenta;
}


.nav {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: black;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}


.nav_emoji {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: lightblue;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}

.nav_beautiful {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: #F781D8;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}


.arrow {
  margin-left: 45%;
  margin-top: 1%;
}


.paragraph_verweb {
  background-color: black;
  border: solid limegreen 2px;
  padding: 5px;
  color: limegreen;
}


.paragraph_emoji {
  background-color: white;
  border: solid lightblue 2px;
  padding: 5px;
  color: black;
}


.items {
  height: 20vh;
  width: 100%;
  background-color: black;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}


.items_emoji {
  height: 20vh;
  width: 100%;
  background-color: lightblue;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}

.items_beautiful {
  height: 20vh;
  width: 100%;
  background-color: #F781D8;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}

.itemslink {
  color:blue;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  font-size: 12px;
  margin-left: 45%;

}

.itemslink:hover{
 color: white;
 font-weight: bold;
}


.items.showme {
  top: 0;
  transition: all 1s;
}

.items_emoji.showme {
  top: 0;
  transition: all 1s;
}

.items_beautiful.showme {
  top: 0;
  transition: all 1s;
}

.menuleft {
  height:100vh;
  width: 3%;
  background-color: black;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright {
  height:100vh;
  width: 3%;
  background-color: black;
  position: fixed;
  top:0px;
  right:0px;
}


.menuleft_beautiful {
  height:100vh;
  width: 3%;
  background-color: #F781D8;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright_beautiful {
  height:100vh;
  width: 3%;
  background-color: #F781D8;
  position: fixed;
  top:0px;
  right:0px;
}




.menuleft_emoji {
  height:100vh;
  width: 3%;
  background-color: lightblue;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright_emoji {
  height:100vh;
  width: 3%;
  background-color: lightblue;
  position: fixed;
  top:0px;
  right:0px;
}


.menutext {
  text-align: center;
  margin-top: 50vh;
}

.main {
  width: 90%;
  position: relative;
  left:5%;
  right: 5%;

}

.row {
  display: flex;
  flex-wrap:wrap;
}

.col_1of2 {
  flex:0 0 50%;
}

.col_2of2 {
  flex:0 0 50%;
}

.col_images img {
  margin: auto;
}


.content {
  padding: 10px;
  margin-left: 30px;
  font-family: times;
  font-size: 18px;
}

.h1{
  font-size:48px;
  font-family:'times';
}

.h2{
  font-size:14px;
  font-family:'courier';
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: courier;

}

.difference {
  position: fixed;
  top:0;
  left:0;
  mix-blend-mode:difference;
}


.websitelink {
  color:red;
}

.websitelink:hover{
  font-weight: bold;
  color: red;
  font-size: 20px;
  transition: 1s;
}




.linkios7{
  color:blue;
}

.linkios7:hover {
  font-weight: bold;
  color:hotpink;
}

.ios7 {
  align-content: center;
  display: none;
}

.ios7.showme {
  display: block;
  text-align: center;
}




.linkdrunk{
  color:blue;
}

.linkdrunk:hover {
  font-weight: bold;
  color:hotpink;
}

.drunk{
  text-align: center;
  display: none;
}

.drunk.showme {
  display: block;
}



.newyorklink{
  color:blue;
}

.newyorklink:hover {
  font-weight: bold;
  color:hotpink;
}

.newyork{
  text-align: center;
  display: none;
}

.newyork.showme {
  display: block;
}



.outerspacelink {
  color:blue;
}

.outerspacelink:hover{
  font-weight: bold;
  color:white;
}

.outerspace {
  align-content: center;
  display: none;
}

.outerspace.showme {
  display:block;
}



.webringlink {
  color:blue;
}

.webringlink:hover{
  font-weight: bold;
  color:white
}

.webring {
  align-content: center;
  display: none;
}

.webring.showme {
  display:block;
}


.busstoplink {
  color:blue;
}

.busstoplink:hover{
  font-weight: bold;
  color:white;
}

.busstop {
  align-content: center;
  display: none;
}

.busstop.showme {
  display:block;
}



.layoutlink {
  color:blue;
}

.layoutlink:hover{
  font-weight: bold;
  color:white;
}

.layout {
  align-content: center;
  display: none;
}

.layout.showme {
  display:block;
}
