* {
  box-sizing: border-box;
}

.background_beautiful {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/26/92/d7/2692d7509999ec87416f25bebea3d26e.jpg");

}

.background_verweb {
  background-image:url('http://3.bp.blogspot.com/-OvmhX21y3lQ/T9nqWeOttQI/AAAAAAAAF6w/_nDUlZ-Pfcc/s1600/Green-wallpaper-14.jpg');
  background-attachment:fixed;
  background-repeat:repeat;
  background-size: cover;
}

.background_emoji {
  background-image: url("http://cdn.wallpapersafari.com/5/45/pG86wt.jpg");
}

.center {
  align-items:center;
  justify-content:center;
}

.pageheader_beautiful {
  font-family: times;
  text-align: center;
  width: 100%;
  font-size: 140px;
  margin-top: 60px;
  color: #ffbafb;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;

}

.pageheader_beautiful:hover {
  font-family: times;
  width: 100%;
  font-size: 140px;
  margin-top: 60px;
  color: black;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #ffbafb;
  text-align: center;
}

.pageheader_emoji {
  font-family: times;
  width: 100%;
  font-size: 140px;
  margin-top: 200px;
  color: lightblue;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
  text-align: center;
}

.pageheader_emoji:hover {
  font-family: times;
  width: 100%;
  font-size: 140px;
  margin-top: 200px;
  color: lightblue;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: lightpink;
  text-align: center;
}

.source_emoji {
  font-family: times;
  width: 50%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: lightblue;
}

.pageheader_verweb {
  font-family: times;
  text-align: center;
  width: 100%;
  font-size: 140px;
  margin-top: 250px;
  color: black;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: lime;

}

.pageheader_verweb:hover {
  font-family: times;
  width: 100%;
  font-size: 140px;
  margin-top: 250px;
  color: limegreen;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
  text-align: center;
}

.subheader_verweb {
  font-family: times;
  font-size: 32px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: lime;
}

.h2_emoji {
  color: lightpink;
  font-family: times;
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
}



.index {
  color: blue;
  text-align: center;
  font-family: times;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 125px;
  position: fixed;
  left: 50%; width: 400px; margin-left:-200px
}


.body_index {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Milky_Way_IR_Spitzer.jpg");
  background-size: 100%;
  animation: moveIt 10s linear infinite;
}

@keyframes moveIt {
  from {background-position: bottom left;}
  to {background-position: top right;}
}

.index:hover {
  color: magenta;
}


.nav{
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: limegreen;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}


.bottom_verweb {
  cursor: pointer;
  display: block;
  background-color: limegreen;
  height: 5%;
  width:100%;
 bottom: 0px;
}


.nav_emoji {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: lightblue;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}

.nav_beautiful {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: #ffbafb;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:3%;
 right:5%;
}


.arrow {
  margin-left: 45%;
  margin-top: 1%;
}

.paragraph_beautiful {
  background-color: #ffbafb;
  border: solid  black 2px;
  padding: 5px;
  color: black;
}



.paragraph_verweb {
  background-color: black;
  border: solid limegreen 2px;
  padding: 5px;
  color: limegreen;
}


.paragraph_emoji {
  background-color: white;
  border: solid lightblue 2px;
  padding: 5px;
  color: black;
}


.items {
  height: 20vh;
  width: 100%;
  background-color: limegreen;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}


.items_emoji {
  height: 20vh;
  width: 100%;
  background-color: lightblue;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}

.items_beautiful {
  height: 20vh;
  width: 100%;
  background-color: #ffbafb;
  margin: auto;
  position: fixed;
  top: -30vw;
  left: 3%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}

.itemslink {
  color:blue;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  font-size: 12px;
  margin-left: 45%;

}

.itemslink:hover{
 color: white;
 font-weight: bold;
}


.items.showme {
  top: 0;
  transition: all 1s;
}

.items_emoji.showme {
  top: 0;
  transition: all 1s;
}

.items_beautiful.showme {
  top: 0;
  transition: all 1s;
}

.menuleft {
  height:100vh;
  width: 3%;
  background-color: limegreen;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright {
  height:100vh;
  width: 3%;
  background-color: limegreen;
  position: fixed;
  top:0px;
  right:0px;
}


.menuleft_beautiful {
  height:100vh;
  width: 3%;
  background-color: #ffbafb;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright_beautiful {
  height:100vh;
  width: 3%;
  background-color: #ffbafb;
  position: fixed;
  top:0px;
  right:0px;
}




.menuleft_emoji {
  height:100vh;
  width: 3%;
  background-color: lightblue;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright_emoji {
  height:100vh;
  width: 3%;
  background-color: lightblue;
  position: fixed;
  top:0px;
  right:0px;
}


.menutext {
  text-align: center;
  margin-top: 50vh;
}

.main {
  width: 90%;
  position: relative;
  left:5%;
  right: 5%;

}

.row {
  display: flex;
  flex-wrap:wrap;
}

.col_1of2 {
  flex:0 0 50%;
}

.col_2of2 {
  flex:0 0 50%;
}

.col_images img {
  margin: auto;
}


.content {
  padding: 10px;
  margin-left: 30px;
  font-family: times;
  font-size: 18px;
}

.h1{
  font-size:48px;
  font-family:'times';
}


.title {
  font-size: 20px;
  font-weight: bold;
  font-family: courier;

}

.difference {
  position: fixed;
  top:0;
  left:0;
  mix-blend-mode:difference;
}


.websitelink {
  color:red;
}

.websitelink:hover{
  font-weight: bold;
  color: red;
  font-size: 20px;
  transition: 1s;
}




.linkios7{
  color:#af26ef;
  font-weight: bold;
}

.linkios7:hover {
  font-weight: bold;
  color:white;
}

.ios7 {
  align-content: center;
  display: none;
  background-color: #ffbafb;
padding: inherit;
  text-align: center;
  outline: black 2px solid;


}

.ios7.showme {
  display: block;
  text-align: center;
}




.linkdrunk{
  color:#af26ef;
  font-weight: bold;
}

.linkdrunk:hover {
  font-weight: bold;
  color: white;
}

.drunk{
  text-align: center;
  display: none;
  background-color: #ffbafb;
padding: inherit;
  text-align: center;
  font-size: 12px;
  outline: black 2px solid;

}

.drunk.showme {
  display: block;
}



.newyorklink{
  color:#af26ef;
  font-weight: bold;
}

.newyorklink:hover {
  font-weight: bold;
  color:white;
}

.newyork{
  text-align: center;
  display: none;
  background-color: #ffbafb;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: black 2px solid;

}

.newyork.showme {
  display: block;
}



.outerspacelink {
  color:blue;
}

.outerspacelink:hover{
  font-weight: bold;
  color:white;
}

.outerspace {
  align-content: center;
  display: none;
}

.outerspace.showme {
  display:block;
}



.webringlink {
  color:blue;
}

.webringlink:hover{
  font-weight: bold;
  color:white
}

.webring {
  text-align: center;
  display: none;
  background-color: black;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: lime 2px solid;
    color: lime;
}

.webring.showme {
  display:block;
}


.busstoplink {
  color:blue;
}

.busstoplink:hover{
  font-weight: bold;
  color:white;
}

.busstop {
  text-align: center;
  display: none;
  background-color: black;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: lime 2px solid;
    color: lime;
}

.busstop.showme {
  display:block;
}



.layoutlink {
  color:blue;
}

.layoutlink:hover{
  font-weight: bold;
  color:white;
}

.layout {
  text-align: center;
  display: none;
  background-color: black;
padding: inherit;
  text-align: center;
    font-size: 12px;
    color: lime;
    outline: lime 2px solid;
}

.layout.showme {
  display:block;
}



.personalitylink {
  color:lightpink;
}

.personalitylink:hover{
  font-weight: bold;
  color:lightblue;
}

.personality {
  display: none;
  background-color: lightblue;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: solid 2px lightpink;
}

.personality.showme {
  display:block;
}



.smileylink {
  color:lightpink;
}

.smileylink:hover{
  font-weight: bold;
  color:lightblue;
}

.smiley {
  display: none;
  background-color: lightblue;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: solid 2px lightpink;
}

.smiley.showme {
  display:block;
}


.facebooklink {
  color:lightpink;
}

.facebooklink:hover{
  font-weight: bold;
  color:lightblue;
}

.facebook {
  display: none;
  background-color: lightblue;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: solid 2px lightpink;
}

.facebook.showme {
  display:block;
}


.roarlink {
  color:lightpink;
}

.roarlink:hover{
  font-weight: bold;
  color:lightblue;
}

.roar {
  display: none;
  background-color: lightblue;
padding: inherit;
  font-size: 12px;
  text-align: center;
  outline: solid 2px lightpink;
}

.roar.showme {
  display:block;
}


.listlink {
  color:lightpink;
}

.listlink:hover{
  font-weight: bold;
  color:lightblue;
}

.list {
  display: none;
  background-color: lightblue;
padding: inherit;
  text-align: center;
    font-size: 12px;
    outline: solid 2px lightpink;
}

.list.showme {
  display:block;
}
