* {
  box-sizing: border-box;
}

.gradient {
  background:
    linear-gradient(
      #FFCC00,hotpink
    );
}

.center {
  align-items:center;
  justify-content:center;
}

.index {
  color: magenta;
  text-align: center;
  font-family: verdana;
  font-size: 56px;
  font-weight: bold;
  position: fixed;
  left: 45%;
  text-decoration: none;
}


.index:hover {
  color: white;
}


.nav {
  font-size: 12px;
  cursor: pointer;
  display: block;
  background-color: lightpink;
  height: 5%;
  width:100%;
  position: fixed;
 top: 0px;
 left:5%;
 right:5%;
}

.arrow {
  margin-left: 45%;
  margin-top: 1%;
}




.items {
  height: 20vh;
  width: 100%;
  background-color: lightpink;
  position: fixed;
  top: -30vw;
  left: 5%;
  right:5%;
  z-index: 1;
  transition: all 1s;
}

.itemslink {
  color:blue;
  text-align: center;
  text-decoration: none;
  font-family: courier;
  font-size: 12px;
  margin-left: 45%;

}

.itemslink:hover{
 color: #FFCC00;
 font-weight: bold;
}


.items.showme {
  top: 0;
  transition: all 1s;
}




.menuleft {
  height:100vh;
  width: 5%;
  background-color: blue;
  position: fixed;
  top:0px;
  left:0px;
}

.menuright {
  height:100vh;
  width: 5%;
  background-color: blue;
  position: fixed;
  top:0px;
  right:0px;
}

.menutext {
  text-align: center;
  margin-top: 50vh;
}

.main {
  width: 90%;
  position: relative;
  left:5%;
  right: 5%;

}

.row {
  display: flex;
  flex-wrap:wrap;
}

.col_1of2 {
  flex:0 0 50%;
}

.col_2of2 {
  flex:0 0 50%;
}


.content {
  padding: 10px;
  margin: 10px;
  font-family: courier;
  font-size: 12px;
}

.h1{
  text-transform:uppercase;
  font-size:48px;
  font-family:'helvetica';
}

.h2{
  font-size:14px;
  font-family:'courier';
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: courier;

}

.difference {
  position: fixed;
  top:0;
  left:0;
  mix-blend-mode:difference;
}


.websitelink {
  color:blue;
}

.websitelink:hover{
  font-weight: bold;
  color: blue;
  font-size: 14px;
  transition: 1s;
}




.linkios7{
  color:blue;
}

.linkios7:hover {
  font-weight: bold;
  color:hotpink;
}

.ios7 {
  align-content: center;
  display: none;
}

.ios7.showme {
  display: block;
  text-align: center;
}




.linkdrunk{
  color:blue;
}

.linkdrunk:hover {
  font-weight: bold;
  color:hotpink;
}

.drunk{
  text-align: center;
  display: none;
}

.drunk.showme {
  display: block;
}



.newyorklink{
  color:blue;
}

.newyorklink:hover {
  font-weight: bold;
  color:hotpink;
}

.newyork{
  text-align: center;
  display: none;
}

.newyork.showme {
  display: block;
}



.outerspacelink {
  color:blue;
}

.outerspacelink:hover{
  font-weight: bold;
  color:hotpink;
}

.outerspace {
  align-content: center;
  display: none;
}

.outerspace.showme {
  display:block;
}



.webringlink {
  color:blue;
}

.webringlink:hover{
  font-weight: bold;
  color:hotpink;
}

.webring {
  align-content: center;
  display: none;
}

.webring.showme {
  display:block;
}


.busstoplink {
  color:blue;
}

.busstoplink:hover{
  font-weight: bold;
  color:hotpink;
}

.busstop {
  align-content: center;
  display: none;
}

.busstop.showme {
  display:block;
}



.layoutlink {
  color:blue;
}

.layoutlink:hover{
  font-weight: bold;
  color:hotpink;
}

.layout {
  align-content: center;
  display: none;
}

.layout.showme {
  display:block;
}
